<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="development.ngbontsi.com">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LogInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UsersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".event.EventActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.AdminLoginActivity" />
        <activity android:name=".activities.AdminHomeActivity" />
        <activity android:name=".activities.AddAddressActivity" />
        <activity android:name=".activities.AddCommercialActivity" />
        <activity android:name=".activities.AddContactActivity" />
        <activity android:name=".activities.AddEventActivity" />
        <activity android:name=".activities.AddUserActivity" />
        <activity android:name=".activities.AddEventStatusActivity" />
        <activity android:name=".activities.AddEventTypeActivity" />
        <activity android:name=".activities.AddVenueActivity" />
        <activity android:name=".activities.AddFacilityActivity" />
        <activity android:name=".activities.AdminLandingActivity"></activity>
    </application>

</manifest>